
.authen-template {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #f0f2f5;
}

.authen-template__form {
  width: 30%;
  height: 100%;
  background-color: #84ECE1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authen-template__image {
  width: 70%;
  height: 100%;
  background-image: url('/images/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
